.messages-container {
    flex-grow: 7;
    background-color: #ffffff;
    border-right: 1px solid #DFE5EC;
    border-bottom: 1px solid #DFE5EC;
    display: flex;
    flex-direction: column;
}

.messages-container .no-data {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #808080;
    font-size: 15px;
}
