.sign-in_container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.sign-in_container > .header {
    height: 226px;
    background-color: #5682a3;
}

.sign-in_container .main {
    position: absolute;
    width: 404px;
    left: calc(50% - 202px);
    top: 94px;
}

.sign-in_container .main .sign-in_head {
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sign-in_container .main .sign-in_head .logo {
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
    line-height: 30px;
    padding: 23px 15px 22px 15px;
    display: flex;
    align-items: center;
}

.sign-in_container .main .sign-in_head .logo > img {
    width: 30px;
    height: 30px;
    margin-right: 18px;
}

.sign-in_container .main .sign-in_head .sign-in_btn {
    font-size: 13px;
    padding: 30px 10px 28px 15px;
    line-height: 20px;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.sign-in_container .main .sign-in_head .sign-in_btn > span {
    margin-left: 5px;
}

.sign-in_container .main .sign-in_form {
    background-color: #fff;
    padding: 44px 65px;
    box-shadow: 0 1px 1px rgba(97, 127, 152, .2), 1px 0 0 rgba(97, 127, 152, .1), -1px 0 0 rgba(97, 127, 152, .1);
    border-radius: 2px;
    border: 0;
    margin: 0;
}

.sign-in_container .main .sign-in_form .header {
    color: #222;
    margin: 0 0 20px;
    font-size: 15px;
    font-weight: 700;
}

.sign-in_container .main .sign-in_form .hint {
    color: #999;
    margin: 15px 0 30px;
    font-size: 13px;
    line-height: 160%;
}

.sign-in_container .main .sign-in_form .country-input,
.sign-in_container .main .sign-in_form .phone_input {
    display: flex;
    flex-direction: row;
}

.sign-in_container .main .sign-in_form .input-form {
    position: relative;
    color: #999;
    padding: 0;
    margin: 0 0 22px;
    height: 50px;
}

.sign-in_container .main .sign-in_form .input-form label {
    top: 23px;
    position: absolute;
    display: block;
    font-size: 13px;
    transition: .15s ease-in-out;
    cursor: text;
}

.sign-in_container .main .sign-in_form .input-form input {
    position: relative;
    display: block;
    font-size: 13px;
    top: 18px;
    border: none;
    outline: none;
    padding: 8px 0;
    box-shadow: 0 1px 0 #e6e6e6;
    transition: .15s ease-in-out;
    width: 100%;
}

.sign-in_container .main .sign-in_form .input-form input:focus {
    box-shadow: 0 2px 0 #77b7e4;
}

.sign-in_container .main .sign-in_form .input-form input:focus + label,
.sign-in_container .main .sign-in_form .input-form input.has-value + label {
    transform: translateY(-22px);
    font-size: 12px;
    cursor: default;
}

.sign-in_container .main .sign-in_form .phone_input :nth-child(1) {
    flex: 0 0 50px;
    margin-right: 25px;
}

.sign-in_container .main .sign-in_form .phone_input :nth-child(2) {
    flex: 1 0 auto;
}

.sign-in_container .main .sign-in_footer {
    color: #84a2bc;
    font-size: 13px;
    margin-top: 25px;
    text-align: center;
    line-height: 16px;
}

.sign-in_container .main .sign-in_footer p {
    margin: 0 0 10px 0;
}

.sign-in_container .main .sign-in_footer a {
    font-weight: 700;
    text-decoration: none;
}

.sign-in_container .main .sign-in_footer a:hover {
    text-decoration: underline;
}

.sign-in_container .main .sign-in_footer a:visited {
    color: #84a2bc;
}



