.authenticated-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.authenticated-container .left_sector {
    width: 100%;
}

.authenticated-container .middle_sector {
    width: 1010px;
}

.authenticated-container .right_sector {
    width: 100%;
}

