.dialog-item {
    position: relative;
    list-style: none;
    height: 48px;
    padding: 7px 18px 7px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
}

.dialog-item:hover {
    background-color: #f2f6fa;
}

.dialog-item.selected,
.dialog-item.selected:hover {
    background-color: #6490b1;
}

.dialog-item .round-image,
.dialog-item .round-image--no-image {
    flex: 0 0 48px;
    margin-right: 15px;
}

.dialog-item .information {
    flex: 1 0 auto;
}

.dialog-item .dialog-peer,
.dialog-item .dialog-message {
    position: relative;
    display: flex;
    line-height: 18px;
}

.dialog-item .dialog-peer {
    margin-bottom: 4px;
}

.dialog-item .dialog-message {
    margin-top: 4px;
}

.dialog-item .dialog-name {
    max-width: 164px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 13px;
    color: #222222;
}

.dialog-item .last-message-date {
    position: absolute;
    font-size: 11px;
    color: #b3b3b3;
    font-weight: 500;
    top: 0;
    right: 0;
    line-height: 12px;
}

.dialog-item:hover .last-message-date {
    color: #92a6ba;
}

.dialog-item:hover .last-message {
    color: #758c9b;
}

.dialog-item .last-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 164px;
    font-size: 13px;
    color: #a3a3a3;
    font-weight: 400;
}

.dialog-item .last-message-owner {
    color: #5387ac;
    font-weight: 500;
    text-decoration: none;
}

.dialog-item.selected .dialog-name,
.dialog-item.selected .last-message,
.dialog-item.selected .last-message-owner,
.dialog-item.selected .last-message-date {
    color: #ffffff;
}
