#contacts .modal-content {
    width: 420px;
    top: 5vh;
    bottom: 4vh;
}

/* modal header */

#contacts .modal-header {
    flex: 0 0 54px;
}

#contacts .title {
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    margin-left: 26px;
}

#contacts .edit-btn,
#contacts .close-btn {
    color: #dde8f1;
    font-size: 13px;
    font-weight: 600;
    padding: 0;
}

#contacts .edit-btn {
    margin-left: auto;
    margin-right: 28px;
}

#contacts .close-btn {
    margin-right: 22px;
}

#contacts .edit-btn:hover,
#contacts .close-btn:hover {
    color: #ffffff;
}

/* modal body */

#contacts .modal-body {
    flex: 1 0 auto;
}

#contacts .search {
    padding: 7px 12px 6px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
}

#contacts .search-input {
    font-size: 12px;
    background-color: transparent;
    border: 1px solid transparent;
}

#contacts .search-input:focus {
    border: 1px solid transparent;
}

/* modal footer */

#contacts .modal-footer {
    flex: 0 0 30px;
    padding: 15px 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contacts .new-contact-btn {
    text-transform: uppercase;
    color: #4680b3;
    font-weight: 700;
    font-size: 13px;
    padding: 6px 10px;
    border-radius: 2px;
    line-height: 18px
}

#contacts .new-contact-btn:hover {
    background-color: #f2f6fa;
}
